body {
    width: auto;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
}

#contact-info {
    float: left;
    width: auto;
    position: sticky;
    border: 1px solid pink;
    padding-left: 100px;
    padding-right: 100px;
}


#contact-list {
    float: left;
    width: 25%;
    margin-left: 15%;
    margin-right: 150px;
    height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 3%;
    border: 1px solid;
    padding: 25px;
}

#contact-photo {
    height: 100px;
    width: 100px;
    vertical-align: middle;
    object-fit: cover;
}

.detail-image {
    align-items: center;
    justify-content: center;
    width: 450px; 
    height: 450px; 
    object-fit: cover;
}

.contact-card {
    border: 1px solid;
    padding: 1%;
}

.contact-card:hover {
    cursor: pointer;
}

h1,h2,h3,p {
    text-align: center;
}

.delete-button {
    position: absolute;
    top: 10px;
    left: 620px;
    padding: 3px 3px 1px 3px;
}

.delete-button:hover {
    cursor: pointer;
    background-color: rgb(221, 65, 65);
}