body {
    display: grid;
    grid-template-rows: 5vh 5vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    grid-template-columns: 5vw 20vw 5vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
}


#contact-list {
    grid-row: 3;
    grid-column: 2;
    flex-direction: column;
    background-color: rgb(204, 204, 211);
    margin-left: auto;
    margin-right: auto;
}

#contact-card {
    border-style: solid;
    background-color: greenyellow;
}

#name {
    vertical-align: middle;
}

#contact-photo {
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

#contact-info {
    grid-row: 2;
    grid-column: 4;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

h2,h3,p {
    text-align: center;

}

.detail-image {
    height: 700px;
    width: 700px;
    align-items: center;
    justify-content: center;
}

#contact-header {
    grid-column: 5;
    text-align: center;
    justify-content: center;
    background-color: darkorange;
    white-space: nowrap;
}